<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>答题</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/answer/Public/css/bootstrap.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="/answer/Public/css/style.css">
	<script src="/answer/Public/js/jquery.min.js"></script>
	<script src="/answer/Public/js/dialog/layer.js"></script>
	<script src="/answer/Public/js/dialog.js"></script>
	<script src="/answer/Public/js/common.js"></script>


	</head>